/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 auto;
  box-sizing: border-box;
  background: #262a2b !important;
  font-family: "helvetica", san-serif;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background: #222;
  color: #f2f2f2;
}
.navbar-brand span:first-child {
  margin-right: 5px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 15px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 18px;
  transition: width 0.4s linear;
  font-size: 0.8em;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 110px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
  text-decoration: none;
}

.search_icon {
  height: 24px;
  width: 24px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.form-inline .container {
  padding-left: 0;
  padding-right: 0;
}

.container.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.planet-list {
  // padding-bottom: 1em;
}
.planet-list-container {
}

.planet-list-item {
}

.planet-list-container {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.planet-list-container div {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 230px;
  // padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  // font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
}
.planet-list-container div h2 {
  font-size: 80px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 0;
  right: 10px;
  transition: all 0.3s ease-in-out;
  color: #b7b7b7;
}
.planet-list-container div h3 {
  font-size: 20px;
  font-weight: bold;
  color: #b7b7b7;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.planet-list-container div button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 5px 10px;
  color: #b7b7b7;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.planet-list-container div:hover button {
  opacity: 1;
}
.planet-list-container div button:hover {
  color: #262a2b;
  background: #b7b7b7;
}

.planet-list-container div:hover h2 {
  top: 0px;
  opacity: 0.6;
  color: #000;
}

.planet-list-container div:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.planet-list-container div:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}

.planet-list-container div:nth-child(n):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}

.items-per-page {
  color: #b7b7b7;
  font-size: 0.8em;
  display: flex;
}
.items-per-page div {
  padding: 5px;
}

.items-per-page select {
  background-color: transparent;
  color: #b7b7b7;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  outline: none;
  cursor: pointer;
}
select option {
  padding-right: 0;
  background-color: #262a2b;
  color: #b7b7b7;
  outline: none;
}
.pagination li.page-item .page-link {
  background-color: transparent !important;
  color: #b7b7b7;
  cursor: pointer;
}

.pagination li.page-item .page-link {
  background-color: transparent !important;
  color: #b7b7b7;
  opacity: 0.2;
}

.pagination li.page-item .page-link:hover {
  color: #b7b7b7;
  opacity: 1;
}

.page-item.active .page-link {
  border-color: red !important;
}

.planet-details {
  color: #b7b7b7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;

  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/bck.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.planet-details-header {
  display: flex;
  justify-content: center;

  width: 100%;
  padding-bottom: 2em;
  div:first-of-type {
    font-size: 2em;
    font-weight: 900;
  }
}
.planet-details-info div {
  display: flex;

  div {
    width: 100%;
  }
  div:first-of-type {
    font-weight: 800;
  }
  div a {
    text-decoration: none;
    color: #b7b7b7;
    cursor: pointer;
  }
}
.back {
  position: absolute;
  top: 5px;
  right: 5px;
}
.far .fa-times-circle {
  width: 10px;
  height: 10px;
}

@media (min-width: 480px) {
  .searchbar:hover > .search_input {
    width: 200px;
  }
  .search_input {
    line-height: 30px;
    font-size: 1em;
  }
  .search_icon {
    height: 30px;
    width: 30px;
  }
  .searchbar {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .searchbar:hover > .search_input {
    width: 200px;
  }
  .planet-details-header {
    div:first-of-type {
      font-size: 3em;
    }
  }
  .planet-details-info {
    font-size: 2em;
  }
}
