<div class="planet-details">
  <div class="back">
    <p (click)="goBack()">
      <i class="far fa-times-circle fa-2x"></i>
    </p>
  </div>
  <div class="planet-details-header">
    <div scope="col">
      {{ details.name }}
    </div>
  </div>

  <div class="planet-details-info">
    <div>
      <div>Rotation period</div>
      <div>{{ details.rotation_period }}</div>
    </div>
    <div>
      <div>Orbital period</div>
      <div>{{ details.orbital_period }}</div>
    </div>
    <div>
      <div>Diameter</div>
      <div>{{ details.diameter }}</div>
    </div>
    <div>
      <div>Climate</div>
      <div>{{ details.climate }}</div>
    </div>
    <div>
      <div>Gravity</div>
      <div>{{ details.gravity }}</div>
    </div>
    <div>
      <div>Terrain</div>
      <div>{{ details.terrain }}</div>
    </div>
    <div>
      <div>Surface water</div>
      <div>{{ details.surface_water }}</div>
    </div>
    <div>
      <div>Population</div>
      <div>{{ details.population }}</div>
    </div>
    <div>
      <div>Residents</div>
      <div><a href="{{ details.residents }}">Show more</a></div>
    </div>
    <div>
      <div>Films</div>
      <div><a href="{{ details.films }}">Show more</a></div>
    </div>
  </div>
</div>
